 ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,body,html,div.paragraph,blockquote,fieldset,input{ margin:0; padding:0; }
 ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,body,html,p,blockquote,fieldset,input{ margin:0; padding:0; }
 ul{ list-style:none; }
 fieldset{ border:0; }
 a img{ border:0; }
 .clear{ clear:both; }
 body { background: url(theme/bodybg.jpg?153734) top repeat-x; background-color:#efefef; font-family: arial, sans-serif; font-size:12px; color:#666666; margin:0; padding:0; }
 div.paragraph { line-height: 170%; color: #626262; font-size: 13px; padding-bottom:12px; }
 p { line-height: 170%; color: #626262; font-size: 13px; padding-bottom:12px; }
 h1 { font-size:30px; font-weight:bold; color:#6666cc; text-transform: uppercase; margin: 0px 0px 10px 0px; }
 h2 { font-size:24px; font-family: arial, sans-serif; font-weight:normal; color:#414141; margin: 10px 0px 5px 0px; }
 #wrapper { width:960px; margin:0pt auto; }
 #header{ width: 960px; height: 82px; text-align: right; }
 #headerleft{ float: left; font-size:30px; font-weight:bold; height: 60px; padding: 10px 40px 0px 0px; }
 #headerleft, #headerleft a{ color:#6666cc; text-decoration:none; }
 #navigation ul{ position: relative; top: 35px; left: 2px; display: inline; margin: 0; padding: 0; height: 43px; }
 #navigation ul li{ display: inline; padding: 0px 16px; background: url(theme/libg.jpg?153734) right no-repeat; }
 #navigation ul li a{ display: inline-block; white-space: nowrap; color: #818080; font-size: 12px; font-weight: bold; text-decoration: none; text-transform: uppercase; }
 #navigation ul li a:hover, #navigation ul li#active a{ color: #6666cc; }
 #navigation ul li.weebly-nav-more{ background: none; }
 #wsite-menus .wsite-menu-wrap { z-index: 5000; margin: 32px 0px 0px 0px; }
 #wsite-menus .wsite-menu { padding: 0; margin: 0; list-style: none; }
 #wsite-menus .wsite-menu li { float: left; clear: left; width: 163px; text-align: left; }
 #wsite-menus .wsite-menu li a { position: relative; display: block; width: 161px; background: #d4d4d4; text-decoration: none; font-size: 12px; font-weight: bold; padding: 6px 0px 6px 0px; color: #818080; border-left: 1px solid #b4b4b4; border-right: 1px solid #b4b4b4; border-bottom: 1px solid #b4b4b4;}
 #wsite-menus .wsite-menu li a:hover { background: #a7a7a7; color: #ffffff; }
 #content{ width: 898px; background: #fff; min-height: 500px; _height: 500px; padding: 32px; }
 #content a{ color: #6666cc; text-decoration: none; }
 #footer{ width: 960px; color: #666666; font-size: 13px; text-align: right; padding: 35px 0px 20px 0px; }
 #footer a{ color: #6666cc; text-decoration: none; }
 #footer .weebly-footer a{ color: #666666; }
 #wsite-multicol-col {display: inline-block; }

div.paragraph ul, div.paragraph ol { padding-left: 25px !important; margin: 5px 0 !important; overflow:hidden; }
div.paragraph li { padding-left: 5px !important; margin: 3px 0 0 !important; }
div.paragraph ul, div.paragraph ul li { list-style: disc outside !important; }
div.paragraph ol, div.paragraph ol li { list-style: decimal outside !important; }

 .title {padding-bottom:0px; font-weight:bold; text-align:left; color: #6666cc; font-size: large;}

 .card_name {font-weight:bold; text-align:center; color:black; font-size: medium; line-height: 30px}
 .card_research_direction {text-align:center; color:black; font-size: small; line-height: 25px;}
 .card_info {text-align:center; color: #585858; font-size: small; line-height: 25px}
 .card_co_sup {text-align:center; color: #3f3f3f; font-size: small; line-height: 25px; font-weight:bold; white-space: pre-line}
 .card_img_div {vertical-align: top; padding: 0 20px 5px 20px; width: 150px; height: 150px}
 .card_img {width: 150px; height: 150px;}
